.grad_1_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 1%, rgba(255,255,255,1) 1%);
}

.grad_2_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 2%, rgba(255,255,255,1) 2%);
}

.grad_3_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 3%, rgba(255,255,255,1) 3%);
}

.grad_4_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 4%, rgba(255,255,255,1) 4%);
}

.grad_5_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 5%, rgba(255,255,255,1) 5%);
}

.grad_6_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 6%, rgba(255,255,255,1) 6%);
}

.grad_7_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 7%, rgba(255,255,255,1) 7%);
}

.grad_8_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 8%, rgba(255,255,255,1) 8%);
}

.grad_9_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 9%, rgba(255,255,255,1) 9%);
}

.grad_10_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 10%, rgba(255,255,255,1) 10%);
}

.grad_11_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 11%, rgba(255,255,255,1) 11%);
}

.grad_12_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 12%, rgba(255,255,255,1) 12%);
}

.grad_13_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 13%, rgba(255,255,255,1) 13%);
}

.grad_14_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 14%, rgba(255,255,255,1) 14%);
}

.grad_15_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 15%, rgba(255,255,255,1) 15%);
}

.grad_16_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 16%, rgba(255,255,255,1) 16%);
}

.grad_17_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 17%, rgba(255,255,255,1) 17%);
}

.grad_18_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 18%, rgba(255,255,255,1) 18%);
}

.grad_19_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 19%, rgba(255,255,255,1) 19%);
}

.grad_20_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 20%, rgba(255,255,255,1) 20%);
}

.grad_21_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 21%, rgba(255,255,255,1) 21%);
}

    .grad_22_per {
        background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 22%, rgba(255,255,255,1) 22%);
}

    .grad_23_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 23%, rgba(255,255,255,1) 23%);
}

    .grad_24_per {
    background: rgb(88,154,194);
    background: linear-gradient(135deg, rgba(88,154,194,1) 24%, rgba(255,255,255,1) 24%);
}

.grad_25_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 25%, rgba(255,255,255,1) 25%); 
}

.grad_26_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 26%, rgba(255,255,255,1) 26%);
}

.grad_27_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 27%, rgba(255,255,255,1) 27%);
}

.grad_28_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 28%, rgba(255,255,255,1) 28%);
}

.grad_29_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 29%, rgba(255,255,255,1) 29%);
}

.grad_30_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 30%, rgba(255,255,255,1) 30%);
}

.grad_31_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 31%, rgba(255,255,255,1) 31%);
}

.grad_32_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 32%, rgba(255,255,255,1) 32%);
}

.grad_33_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 33%, rgba(255,255,255,1) 33%);
}

.grad_34_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 34%, rgba(255,255,255,1) 34%);
}

.grad_35_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 35%, rgba(255,255,255,1) 35%);
}

.grad_36_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 36%, rgba(255,255,255,1) 36%);
}

.grad_37_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 37%, rgba(255,255,255,1) 37%);
}

.grad_38_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 38%, rgba(255,255,255,1) 38%);
}

.grad_39_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 39%, rgba(255,255,255,1) 39%);
}

.grad_40_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 40%, rgba(255,255,255,1) 40%);
}

.grad_41_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 41%, rgba(255,255,255,1) 41%);
}

.grad_42_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 42%, rgba(255,255,255,1) 42%);
}

.grad_43_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 43%, rgba(255,255,255,1) 43%);
}

.grad_44_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 44%, rgba(255,255,255,1) 44%);
}

.grad_45_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 45%, rgba(255,255,255,1) 45%);
}

.grad_46_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 46%, rgba(255,255,255,1) 46%);
}

.grad_47_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 47%, rgba(255,255,255,1) 47%);
}

.grad_48_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 48%, rgba(255,255,255,1) 48%);
}

.grad_49_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 49%, rgba(255,255,255,1) 49%);
}

.grad_50_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 50%, rgba(255,255,255,1) 50%);
}

.grad_51_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 51%, rgba(255,255,255,1) 51%);
}

.grad_52_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 52%, rgba(255,255,255,1) 52%);
}

.grad_53_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 53%, rgba(255,255,255,1) 53%);
}

.grad_54_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 54%, rgba(255,255,255,1) 54%);
}

.grad_55_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 55%, rgba(255,255,255,1) 55%);
}

.grad_56_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 56%, rgba(255,255,255,1) 56%);
}

.grad_57_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 57%, rgba(255,255,255,1) 57%);
}

.grad_58_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 58%, rgba(255,255,255,1) 58%);
}

.grad_59_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 59%, rgba(255,255,255,1) 59%);
}

.grad_60_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 60%, rgba(255,255,255,1) 60%);
}

.grad_61_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 61%, rgba(255,255,255,1) 61%);
}

.grad_62_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 62%, rgba(255,255,255,1) 62%);
}

.grad_63_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 63%, rgba(255,255,255,1) 63%);
}

.grad_64_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 64%, rgba(255,255,255,1) 64%);
}

.grad_65_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 65%, rgba(255,255,255,1) 65%);
}

.grad_66_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 66%, rgba(255,255,255,1) 66%);
}

.grad_67_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 67%, rgba(255,255,255,1) 67%);
}

.grad_68_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 68%, rgba(255,255,255,1) 68%);
}

.grad_69_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 69%, rgba(255,255,255,1) 69%);
}

.grad_70_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 70%, rgba(255,255,255,1) 70%);
}

.grad_71_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 71%, rgba(255,255,255,1) 71%);
}

.grad_72_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 72%, rgba(255,255,255,1) 72%);
}

.grad_73_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 73%, rgba(255,255,255,1) 73%);
}

.grad_74_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 74%, rgba(255,255,255,1) 74%);
}

.grad_75_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 75%, rgba(255,255,255,1) 75%);
}

.grad_76_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 76%, rgba(255,255,255,1) 76%);
}

.grad_77_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 77%, rgba(255,255,255,1) 77%);
}

.grad_78_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 78%, rgba(255,255,255,1) 78%);
}

.grad_79_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 79%, rgba(255,255,255,1) 79%);
}

.grad_80_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 80%, rgba(255,255,255,1) 80%);
}

.grad_81_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 81%, rgba(255,255,255,1) 81%);
}

.grad_82_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 82%, rgba(255,255,255,1) 82%);
}

.grad_83_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 83%, rgba(255,255,255,1) 83%);
}

.grad_84_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 84%, rgba(255,255,255,1) 84%);
}

.grad_85_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 85%, rgba(255,255,255,1) 85%);
}

.grad_86_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 86%, rgba(255,255,255,1) 86%);
}

.grad_87_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 87%, rgba(255,255,255,1) 87%);
}

.grad_88_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 88%, rgba(255,255,255,1) 88%);
}

.grad_89_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 89%, rgba(255,255,255,1) 89%);
}

.grad_90_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 90%, rgba(255,255,255,1) 90%);
}

.grad_91_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 91%, rgba(255,255,255,1) 91%);
}

.grad_92_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 92%, rgba(255,255,255,1) 92%);
}

.grad_93_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 93%, rgba(255,255,255,1) 93%);
}

.grad_94_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 94%, rgba(255,255,255,1) 94%);
}

.grad_95_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 95%, rgba(255,255,255,1) 95%);
}

.grad_96_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 96%, rgba(255,255,255,1) 96%);
}

.grad_97_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 97%, rgba(255,255,255,1) 97%);
}

.grad_98_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 98%, rgba(255,255,255,1) 98%);
}

.grad_99_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 99%, rgba(255,255,255,1) 99%);
}

.grad_100_per {
background: rgb(88,154,194);
background: linear-gradient(135deg, rgba(88,154,194,1) 100%, rgba(255,255,255,1) 100%);
}

.disabled {
    background: rgb(161,161,161);
    background: repeating-linear-gradient(135deg, rgba(161,161,161,1) 0, rgba(161,161,161,1) 25px, rgba(186,186,186,1) 25px, rgba(186,186,186,1) 50px);
}
.passed {
    background: #a7ffb8;
}
.not_started {
    background: #ffdddd;
}
.not_today {
    background: dimgray;
}